<?xml version='1.0' encoding='utf-8'?>
<widget id="moi.vuforiatest" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>VuforiaTest</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <resource-file src="www/targets/ARDemoDatabase.xml" target="assets/ARDemoDatabase.xml" />
        <resource-file src="www/targets/ARDemoDatabase.dat" target="assets/ARDemoDatabase.dat" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <resource-file src="targets/ARDemoDatabase.xml" />
        <resource-file src="targets/ARDemoDatabase.dat" />
    </platform>
    <plugin name="cordova-plugin-console" spec="~1.0.3" />
    <plugin name="cordova-plugin-file" spec="~4.2.0" />
    <plugin name="cordova-plugin-vuforia" spec="../../Happinov/cordova-plugin-vuforia" />
    <plugin name="cordova-plugin-itunesfilesharing" spec="~0.0.1" />
    <plugin name="cordova-plugin-screen-orientation" spec="~1.4.2" />
</widget>
